[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nibabel = "*"
tqdm = "*"
"flake8" = "*"
python-dotenv = "*"
matplotlib = "*"
sklearn = "*"
medpy = "*"

[dev-packages]

[requires]
python_version = "3.6"
