[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
nibabel = "*"
tqdm = "*"
"flake8" = "*"
python-dotenv = "*"
matplotlib = "*"
sklearn = "*"
medpy = "*"
bistiming = "*"
torch = "==0.4.0"
keras = "*"
tensorflow-gpu = "*"
comet-ml = "*"

[dev-packages]

[requires]
python_version = "3.6"
